* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  line-height: 1em;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
}

.icon {
  width: 20px;
  height: 20px;
}
.icon--toggle {
  width: 15px !important;
  height: 10px !important;
  margin-bottom: 7px;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 30px;
  padding: 10px;
}

.nav a {
  text-decoration: none;
  color: #000;
}
.nav a.active {
  color: #5ece7b;
  position: relative;
  font-weight: 600;
}
.nav a.active::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  top: 40px;
  left: -10%;
  text-align: center;
  background-color: #5ece7b;
}
.nav ul {
  list-style: none;
  display: flex;
}
.nav ul li {
  margin-right: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.bag {
  display: inline-block;
  width: 30px;
  height: 28px;
  margin-right: 15%;
}

.header-end {
  display: flex;
  margin-top: 7px;
}
.header-end .currency {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}
.header-end .currency .currency-in-use {
  width: 12px;
  height: 29px;
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  color: #1d1f22;
}
.header-end .cart-icon {
  position: relative;
}
.header-end .cart-icon .item-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  border-radius: 50%;
}

.currencyTab {
  width: 85px;
  position: absolute;
  top: 60px;
  right: 4%;
  height: 0px;
  overflow: hidden;
  transition: 0.5s ease-out;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.show-currencyTab {
  height: 18vh;
}

.currencyType {
  cursor: pointer;
  color: #1d1f22;
  font-weight: 500;
  margin: 10px 0px 10px 10px;
}

.category__name {
  margin-bottom: 30px;
  color: #1d1f22;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 4em;
}
.category__name::first-letter {
  text-transform: uppercase;
}

.category__products {
  display: flex;
  flex-wrap: wrap;
}

.product-tile {
  width: 31.5%;
  height: 70vh;
  padding: 1em;
  background-color: #fff;
  position: relative;
  margin: 0px 5px;
}
.product-tile__img {
  width: 100%;
  height: 85%;
}
.product-tile__name {
  color: #1d1f22;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.product-tile__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6em;
}
.product-tile__cart-icon {
  width: 30px;
  height: 25px;
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(103%) contrast(102%);
}
.product-tile__icon-container {
  background-color: #5ece7b !important;
  width: 40px;
  height: 35px;
  padding: 3px 6px;
  position: absolute;
  bottom: 14%;
  right: 10%;
  border-radius: 50%;
}

.clickedProduct {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.category-name::first-letter {
  text-transform: uppercase;
}

.pdp {
  position: relative;
  display: flex;
}
.pdp-other_images {
  display: flex;
  flex-direction: column;
}
.pdp-other_images img {
  width: 8vw;
  height: 12vh;
}
.pdp-image {
  width: 100%;
  height: 70vh;
}
.pdp-details {
  display: flex;
}

.attribute-set {
  display: flex;
}

.attribute {
  margin: 2px;
  width: 50px;
  height: 35px;
  position: relative;
  text-align: center;
  border: 0.5px solid #000;
}
.attribute-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.attribute-label {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  cursor: pointer;
}

input:checked + label {
  background-color: #000 !important;
  color: #fff;
}

.selected-attributes-set {
  display: flex;
}

.selected-attribute {
  margin: 2px;
  width: 50px;
  height: 35px;
  text-align: center;
  border: 0.5px solid #000;
  padding-top: 8px;
}

.cart__item {
  display: flex;
}
.cart__item img {
  width: 100%;
  height: 20vh;
}
.cart__item__count {
  display: flex;
}

.cart-overlay {
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: fixed;
  top: 80px;
  left: 0px;
  transition: 0.5s ease-out;
}

.overlay {
  background-color: #777;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;
}

.mini-cart {
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: 3%;
  width: 30%;
  z-index: 5;
}

.show-cart-overlay {
  height: 94vh;
}

/*# sourceMappingURL=index.css.map */
