* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  display: flex;
  li {
    margin-right: 20px;
  }
}

.container {
  width: 90%;
  margin: 20px auto;
}

.header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: red;
}

.bag {
  display: inline-block;
  width: 2%;
  height: 2%;
}

.header-end {
  display: flex;
  .currency {
    display: flex;
    margin: 0px 8px;
  }
}
