* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  display: flex;
  li {
    margin-right: 20px;
  }
}

.container {
  width: 90%;
  margin: 20px auto;
}

.header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: red;
}

.bag {
  display: inline-block;
  width: 2%;
  height: 2%;
}

.header-end {
  display: flex;
  .currency {
    display: flex;
    margin: 0px 8px;
  }
}

.currencyTab {
  width: 70px;
  position: absolute;
  top: 30px;
  right: 48px;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s ease-out;
  // background-color: red;
}
.show-currencyTab {
  height: 12vh;
}

.currencyType {
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.productTile {
  width: 33%;
  height: 60vh;
  img {
    width: 90%;
    height: 80%;
  }
}
.clickedProduct {
  background-color: red;
}

.pdp {
  position: relative;
  display: flex;
  &-other_images {
    display: flex;
    flex-direction: column;
    img {
      width: 8vw;
      height: 12vh;
    }
  }
  &-image {
    width: 100%;
    height: 70vh;
  }
  &-details {
    display: flex;
  }
}

.attribute {
  margin: 10px 0px;
  &-item_set {
    display: flex;
  }
  &-item {
    border: 1px solid #000;
    margin-right: 5px;
    background-color: #fff;
    &__swatch {
      width: 20px;
      height: 20px;
    }
  }
}
